<!doctype html>
<html lang="en">

<head>
  <title>Dashboard</title>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/css/dashboard.css">
  <link rel="stylesheet" href="/static/js/color-modes.js">
  <link rel="stylesheet" href="/static/js/dashboard.js">

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>

    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
      <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button"
        aria-expanded="false" data-bs-toggle="dropdown" aria-label="Toggle theme (light)">
        <svg class="bi my-1 theme-icon-active" width="1em" height="1em">
          <use href="#sun-fill"></use>
        </svg>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light"
            aria-pressed="true">
            <svg class="bi me-2 opacity-50" width="1em" height="1em">
              <use href="#sun-fill"></use>
            </svg>
            Light
            <svg class="bi ms-auto d-none" width="1em" height="1em">
              <use href="#check2"></use>
            </svg>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark"
            aria-pressed="false">
            <svg class="bi me-2 opacity-50" width="1em" height="1em">
              <use href="#moon-stars-fill"></use>
            </svg>
            Dark
            <svg class="bi ms-auto d-none" width="1em" height="1em">
              <use href="#check2"></use>
            </svg>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto"
            aria-pressed="false">
            <svg class="bi me-2 opacity-50" width="1em" height="1em">
              <use href="#circle-half"></use>
            </svg>
            Auto
            <svg class="bi ms-auto d-none" width="1em" height="1em">
              <use href="#check2"></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>

    <header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-5 fs-6 text-white text-start"
        href="https://getbootstrap.com/docs/5.3/examples/dashboard/#">
        EODAFC
      </a>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
          <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
            aria-labelledby="sidebarMenuLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="sidebarMenuLabel">EODAFC</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
                aria-label="Close"></button>
            </div>
            <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page"
                    href="https://getbootstrap.com/docs/5.3/examples/dashboard/#">
                    <svg class="bi">
                      <use xlink:href="#house-fill"></use>
                    </svg>
                    Dashboard
                  </a>
                </li>
              </ul>
              <hr class="my-3">
              <ul class="nav flex-column mb-auto">
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="/logout">
                    <i class="bi bi-box-arrow-right"></i>
                    Sign out
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>

          </div>
          <h3>Sensor One</h3>
          <canvas class="my-4 w-100" id="myChart" width="2025" height="800"
            style="display: block; box-sizing: border-box; height: 488px; width: 1157px;">
          </canvas>
          <h3>Sensor Two</h3>
          <canvas class="my-4 w-100" id="myChart2" width="2025" height="800"
            style="display: block; box-sizing: border-box; height: 488px; width: 1157px;">
          </canvas>

          <h2>Sensor 1 data</h2>
          <div class="table-responsive small">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Location</th>
                  <th scope="col">Temperature</th>
                  <th scope="col">Temperature F</th>
                  <th scope="col">Humidity</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                </tr>
              </thead>
              <tbody>

                {% for item in sensor1_latest %}
                <tr>
                  <td>{{item.id}}</td>
                  <td> SPC 1</td>
                  <td>{{item.temp}}</td>
                  <td>{{item.tempf}}</td>
                  <td>{{item.humidity}}</td>
                  <td>{{item.created_on.strftime('%Y-%m-%d')}}</td>
                  <td>{{item.created_on.strftime('%H:%M:%S')}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <h2>Sensor 2 data</h2>
          <div class="table-responsive small">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Location</th>
                  <th scope="col">Temperature</th>
                  <th scope="col">Temperature F</th>
                  <th scope="col">Humidity</th>
                  <th scope="col">Date</th>
                  <th scope="col">Time</th>
                </tr>
              </thead>
              <tbody>

                {% for item in sensor2_latest %}
                <tr>
                  <td>{{item.id}}</td>
                  <td> SPC 1</td>
                  <td>{{item.temp}}</td>
                  <td>{{item.tempf}}</td>
                  <td>{{item.humidity}}</td>
                  <td>{{item.created_on.strftime('%Y-%m-%d')}}</td>
                  <td>{{item.created_on.strftime('%H:%M:%S')}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <script src="/static/js/chart.umd.js"></script>
  <script>
    window.onload = function () {
      const api_url = '/api/get/sensor/'
      fetch(api_url)
        .then((response) => response.json())
        .then((data) => {
          console.log(data)
          // {
          // "sensor1": [
          //     {
          //         "created_on": "Fri, 10 May 2024 16:47:03 GMT",
          //         "humidity": 55.5,
          //         "id": 6,
          //         "location": "",
          //         "name": "1",
          //         "temp": 27.8,
          //         "tempf": 82.04
          //     },
          ///...
          // }

          const sensor1 = data.sensor1
          const sensor2 = data.sensor2

          const labels_1 = sensor1.map((item) => item.created_on)
          const temp_1 = sensor1.map((item) => item.temp)
          const tempf_1 = sensor1.map((item) => item.tempf)
          const humidity_1 = sensor1.map((item) => item.humidity)

          const labels_2 = sensor2.map((item) => item.created_on)
          const temp_2 = sensor2.map((item) => item.temp)
          const tempf_2 = sensor2.map((item) => item.tempf)
          const humidity_2 = sensor2.map((item) => item.humidity)

          const ctx = document.getElementById('myChart').getContext('2d');
          const myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: labels_1,
              datasets: [{
                label: 'Temperature',
                data: temp_1,
                borderColor: 'rgb(255, 99, 132)',
                tension: 0.1
              }, {
                label: 'Temperature F',
                data: tempf_1,
                borderColor: 'rgb(54, 162, 235)',
                tension: 0.1
              }, {
                label: 'Humidity',
                data: humidity_1,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
              }]
            },
          });

          const ctx2 = document.getElementById('myChart2').getContext('2d');
          // area
          const myChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
              labels: labels_2,
              datasets: [{
                label: 'Temperature',
                data: temp_2,
                borderColor: 'rgb(255, 99, 132)',
                tension: 0.1
              }, {
                label: 'Temperature F',
                data: tempf_2,
                borderColor: 'rgb(54, 162, 235)',
                tension: 0.1
              }, {
                label: 'Humidity',
                data: humidity_2,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
              }]
            },
          });
        });
    }
  </script>
</body>

</html>